code, kbd, pre, samp {
  font-family: 'Fira Mono', monospace, Monospaced;
  font-size: 1em;
  font-weight: 400;
}

.nq-input-field, .nq-select {
  font-size: 1.33em;
  font-family: 'Fira Mono', monospace, Monospaced;
  letter-spacing: -0.025em;
}
