$components-background: #000000;

.nq-select.q-field--outlined .q-field__control,
.nq-input.q-field--outlined .q-field__control,
.nq-field.q-field--outlined .q-field__control {
  background-color: rgba(0,0,0,0.05);
}

.nq-table thead tr,
.nq-form .q-card__actions {
  background-color: transparentize($primary, 0.9);
}

.nq-layout {
  .nq-layout-tabs.q-tabs {
    &.q-tabs--scrollable {
      visibility: hidden;
    }
    &.q-tabs--scrollable ~ .menu-button {
      display: block;
    }
    &.q-tabs--not-scrollable ~ .menu-button {
      display: none;
    }
    .q-icon {
      opacity: 0.33;
    }
  }
  .nq-drawer {
    .q-icon {
      opacity: 0.5;
    }
  }
}

.nq-page {
  margin: 0 auto;
  &.max-width-xs {
    max-width: $breakpoint-xs-min;
  }
  &.max-width-sm {
    max-width: $breakpoint-sm-min;
  }
  &.max-width-md {
    max-width: $breakpoint-md-min;
  }
  &.max-width-lg {
    max-width: $breakpoint-lg-min;
  }
  &.max-width-xl {
    max-width: $breakpoint-xl-min;
  }
}

.nq-table tr {
  .nq-row-actions {
    visibility: hidden;
  }
  &:hover {
    .nq-row-actions {
      visibility: visible !important;
    }
  }
}
